.content{
    margin-top: 5rem;
    height: 100vh;
    width: 100%;
    background-color: gainsboro;
    flex-wrap: wrap;
    overflow-y: scroll;
    padding-top: 5rem;
}
body{
    overflow: hidden;
}
.courses{
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;

    gap: 10px;
    flex-direction: column;
    padding: 0rem 10rem ;
    overflow: hidden;

}
.webdesign{
    box-shadow: 10px 10px 5px 0px rgba(107,99,99,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(107,99,99,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(107,99,99,0.75);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    flex-wrap: wrap;
    background-color: #fff;
    /* margin: auto; */
    height: auto;
    width: shrink;
    border-radius: 20px;
    overflow: hidden;
    text-overflow: ellipsis; /* Show ellipsis (...) for overflowed text */

}
footer{
    margin-top: 10rem;
    height: 20vh;
    width: 100%;
}
footer >p{
    padding-top: 3rem;
}


