body,html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    /* overflow: hidden; */

}
.navigation{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.navbar-brand{
    margin-left: 7rem;
}
.navbar-nav{
    margin-right: 8rem;
}
.landing {
    display: flex;
    height: 100vh;
    width: 100%;
    background-image: url('./image/online\ background.jpg');
    background-size: cover; /* Adjusts the background image to cover the entire container */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center;
    position: relative;
    /* overflow: hidden; */
    flex-direction: column;
    overflow: hidden;
    animation: change 50s infinite ease-in-out;
}
.content1{
    /* max-width: min-content; */
    max-height: min-content;
    border-radius: 16px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    width: 84%;
    margin: auto;
    background-color: gainsboro;
    padding: 2rem;
}
.content2{
    display: flex;
    gap: 12rem;
    width: 100%;
    font-size: 20px;
    justify-content: space-around;

}
.content2 a{
    text-decoration: none;
    background-color: black;
    padding: 1rem;
    border-radius: 20px;
}
.reverse1{
    margin-left: 20rem;
}

.about{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem;
    align-items: center;
}
.believe{
    border-radius: 20px;
    background-color: gainsboro;
    margin-top: 3rem;
    max-width: 85%;
    max-height: min-content;
    padding: 1rem;
    align-items: center;
    box-shadow: 10px 10px 5px 0px rgba(107,99,99,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(107,99,99,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(107,99,99,0.75);
    
}
h4{
    color: blue;
    border-bottom: 1px  solid black;}
footer{
    height: 20vh;
}
footer >p{
    padding-top: 3rem;
}
@keyframes change{
    0%{
        background-image: url(./image/background/online\ background.jpg);
    }
    10%{
        background-image: url(./image/background/download.png);
    }20%{
        background-image: url(./image/background/hand-drawn-online-tutor-illustration_23-2150939199.avif);
    }30%{
        background-image: url(./image/background/istockphoto-537841230-612x612.jpg);
    }40%{
        background-image: url(./image/background/john-schnobrich-2FPjlAyMQTA-unsplash.jpg);
    }50%{
        background-image: url(./image/background/samantha-borges-EeS69TTPQ18-unsplash.jpg);
    }60%{
        background-image: url(./image/background/crop-hand-man-chalking-graph-blackboard_23-2148201000.avif);
    }70%{
        background-image: url(./image/background/dash2.avif);
    }80%{
        background-image: url(./image/background/hand-drawn-flat-design-tutoring-flyer_23-2149265999.avif);
    }90%{
        background-image: url(./image/background/hand-drawn-online-tutor-illustration_23-2150939199.avif);
    }100%{
        background-image: url(./image/background/dassh1.jpg);
    }
}
