.inquire{
    justify-content: center;
    height: 100vh;
    width: 100%;
    margin-top: 5rem;
    border-radius: 20px;
    flex-wrap: wrap;
    /* background-color: gainsboro; */
}
fieldset{
    display: flex;
    width: 60%;
    height: max-content;
    border: 1px solid black;
    margin-bottom: 3rem;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(107,99,99,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(107,99,99,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(107,99,99,0.75);
}
form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
}
.text{
    font-size: 28px;
    font-weight: 400;
}
input{
    width: 30rem;
    height: 4rem;
    border-radius: 10px;
    padding: 1rem;
    outline: none;
    font-size: 22px;
    font-weight: 500;
}
.btn1{
    background-color: gray;
    height: 3rem;
    font-size: 20px;
    width: 10rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    outline: none;
    border-radius: 18px;
    border: none;
}
/* edit account */
img{
    /* width: 10rem; */
    height: 15rem;
    border: 2px solid  black;

}
.ediimage{
    display: flex;
}
.ediimage>input{
    width: 13rem;
}
footer{
    margin-top: 20rem;
    height: 20vh;
}
footer >p{
    padding-top: 3rem;
}